<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
  		新版本code<input type="text" onkeyup= "value=value.replace(/[^\d]/g, '') "
                      style="ime-mode:Disabled" name="verCode"><br>
        新版本号 <input type="text" name="verName"><br>
        新版本描述<textarea name="Info" rows="5" cols="50"></textarea><br>
  		file<input name="file" type="file" /><br>
  		<input type="submit" value="提交"/>
</body>
</html>