<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
</head>
<body>
<form method="post" action="http://up.qiniu.com/" enctype="multipart/form-data">
  		<input name="token" type="hidden" value="{{ token }}">
    <input name="key" type="hidden" value="laixin_newversion.apk">
  		新版本code<input type="text" onkeyup= "value=value.replace(/[^\d]/g, '') "
                      style="ime-mode:Disabled" name="x:verCode"><br>
        新版本号 <input type="text" name="x:verName"><br>
        新版本描述<textarea name="x:Info" rows="5" cols="50"></textarea><br>
  		file<input name="file" type="file" /><br>
  		<input type="submit" value="提交"/>
</body>
</html>