<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>聊天信息附加多媒体测试</title>
</head>
<body>
<form method="post" action="http://up.qiniu.com/" enctype="multipart/form-data">
		filetype<input name="x:filetype" type="text" value=1> 1是图片，2是声音，3是视频<br />
		length<input name="x:length" type="text" value=""><br />
  		<input name="token" type="hidden" value="{{ token }}"><br />
  		file<input name="file" type="file" /><br />
  		<input type="submit" value="提交"/>
</form>
</body>
</html>