<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>向用户发送消息</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
        cid<input name="cid" type="text" /><br />
  		from_uid<input name="from_uid" type="text" /><br />
        content<input name="content" type="text" /><br />
        推荐商品id<input name="mid" type="text" /><br />
        图片列表，请用逗号分割<input name="piclist" type="text" /><br>
  		<input type="submit" value="提交"/>
</form>
</body>
</html>