<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>向圈子用户发送消息</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
        来自用户<input name="from_uid" type="text" value="1"/><br />
  		圈子id<input name="cid" type="text" /><br />
        角色id<input name="roleid" type="text" value="0"/>0=发给全部用户，发给多个角色用,分割，如 1,2<br />
        消息<input name="content" type="text" /><br />
  		<input type="submit" value="提交"/>
</form>
</body>
</html>