<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
</head>
<body style="text-align:center" onload="prettyPrint()">
<script type="application/javascript" src="/static/script/markdown/showdown.js"></script>
<script type="application/javascript" src="/static/script/markdown/extensions/github.js"></script>
<script type="application/javascript" src="/static/script/markdown/extensions/table.js"></script>
<script type="application/javascript" src="/static/script/markdown/extensions/prettify.js"></script>
<script type="application/javascript" src="/static/script/jquery-2.0.3.min.js"></script>
<script type="application/javascript" src="/static/script/markdown/google-code-prettify/prettify.js"></script>
<link rel="stylesheet" href="/static/script/markdown/markdown.css" type="text/css" />
<link rel="stylesheet" href="/static/script/markdown/google-code-prettify/prettify.css" type="text/css" />
<div style="text-align: left;width: 800px;margin:0 auto;" id="show_div"></div>
<div style="display: block" id="markdownsrc">{{ content }}</div>
<script type="application/javascript">
    var converter = new Showdown.converter({ extensions: ['github','table',"prettify"] });
    $("#show_div").html(converter.makeHtml($("#markdownsrc").html()));
    $("#markdownsrc").remove()
</script>
</body>
</html>